// Styling for the timeline section
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
    &:after,
    &:before {
      display: table;
      content: ' ';
    }
    &:after {
      clear: both;
    }
    .timeline-panel {
      position: relative;
      width: 100%;
      padding: 0 20px 0 100px;
      text-align: center;
    }
    .timeline-image {
      position: absolute;
      z-index: 100;
      left: 0;
      width: 80px;
      height: 80px;
      margin-left: 0;
      text-align: center;
      color: white;
      border: 1px solid $gray-200;
      border-radius: 100%;
      background-color: $primary;
      h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px;
      }
    }
    &.timeline-inverted > .timeline-panel {
      padding: 0 20px 0 100px;
      text-align: center;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .timeline-heading {
    h4 {
      margin-top: 0;
      color: inherit;
      &.subheading {
        text-transform: none;
      }
    }
  }
  .timeline-body {
     > ul,
    > p {
      margin-bottom: 0;
    }
  }
}
@media(min-width:768px) {
  .timeline {
    &:before {
      left: 50%;
    }
    > li {
      min-height: 100px;
      .timeline-panel {
        width: 100%;
        padding: 0 20px 0px 20px;
        text-align: center;
      }
      .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        h4 {
          font-size: 13px;
          line-height: 18px;
        }
      }
      &.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 20px 0px 20px;
        text-align: left;
      }
    }
  }
}
@media(min-width:992px) {
  .timeline {
    > li {
      min-height: 150px;
      .timeline-panel {
        padding: 0 20px 0px;
      }
      .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
        h4 {
          font-size: 18px;
          line-height: 26px;
          margin-top: 30px;
        }
      }
      &.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
      }
    }
  }
}
@media(min-width:1200px) {
  .timeline {
    > li {
      min-height: 170px;
      .timeline-panel {
        padding: 0 20px 0px 20px;
      }
      .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
        h4 {
          margin-top: 40px;
        }
      }
      &.timeline-inverted > .timeline-panel {
        padding: 0 20px 0px 20px;
      }
    }
  }
}

.about-image {
  display: flex;
  justify-content: center;
}
